Repository helmuthdu/react-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,json,yml}'
      run: npx prettier --write {staged_files}

chore: minor change
  .gitignore
Due: none

chore: update http util
  src/utils/http.util.ts
Due: eslint, prettier

chore: update logger util
  src/utils/logger.util.ts
Due: eslint, prettier

chore: update storage util
  src/utils/storage.util.ts
Due: eslint, prettier

chore: minor change
  src/react-app-env.d.ts
  src/service-worker.ts
Due: eslint, prettier

chore: added .ncurc.json file
  .ncurc.json
Due: prettier

chore: update package.json
  package.json
Due: prettier

fix: ssr use
  src/utils/storage.util.ts
Due: eslint, prettier

fix: ssr use
  src/utils/logger.util.ts
Due: eslint, prettier

chore: update settings.json
  .vscode/settings.json
Due: prettier

chore: update config
  .eslintrc.js
Due: eslint, prettier

chore: renamed root to main module
  src/modules/index.ts
  src/modules/main/assets/images/logo.svg
  src/modules/main/components/home/home.tsx
  src/modules/main/index.ts
  src/modules/main/routes/about/__tests__/__snapshots__/about.route.test.tsx.snap
  src/modules/main/routes/about/__tests__/about.route.test.tsx
  src/modules/main/routes/about/about.route.tsx
  src/modules/main/routes/home/__tests__/__snapshots__/home.route.test.tsx.snap
  src/modules/main/routes/home/__tests__/home.route.test.tsx
  src/modules/main/routes/home/home.route.scss
  src/modules/main/routes/home/home.route.tsx
  src/modules/main/routes/index.tsx
  src/modules/main/routes/paths.ts
  src/modules/paths.ts
Due: eslint, stylelint, prettier

fix: ssr missing window
  src/utils/logger.util.ts
  src/utils/storage.util.ts
Due: eslint, prettier

feat: added worker hook
  src/hooks/worker.hook.ts
Due: eslint, prettier

chore: update storage hook
  src/hooks/storage.hook.ts
Due: eslint, prettier

chore: update observer hook
  src/hooks/observer.hook.ts
Due: eslint, prettier

feat: improved i18n support
  public/locales/en-US.json
  src/components/components/i18n/i18n-provider.tsx
  src/components/components/i18n/i18n-router.tsx
  src/components/components/i18n/i18n-switch.tsx
  src/components/components/i18n/i18n.ts
  src/stores/modules/index.ts
  src/stores/modules/locale/actions.ts
  src/stores/modules/locale/index.ts
  src/stores/modules/locale/reducer.ts
  src/stores/modules/locale/selectors.ts
  src/stores/modules/locale/state.ts
  src/stores/modules/locale/types.ts
Due: eslint, prettier

feat: new promise hook
  src/hooks/promise.hook.ts
Due: eslint, prettier

chore: minor change
  src/modules/main/routes/home/home.route.tsx
Due: eslint, prettier

chore: update worker hook
  src/hooks/worker.hook.ts
Due: eslint, prettier

feat: upgrade route to v6
  .eslintrc.js
  .prettierrc
  package.json
  src/app.tsx
  src/components/components/i18n/i18n-provider.tsx
  src/components/components/i18n/i18n-router.tsx
  src/components/components/i18n/i18n-switch.tsx
  src/components/components/i18n/i18n.ts
  src/hooks/observer.hook.ts
  src/hooks/worker.hook.ts
  src/layouts/default/__tests__/default.layout.test.tsx
  src/layouts/default/default.layout.tsx
  src/modules/main/routes/about/about.route.tsx
  src/modules/main/routes/home/home.route.tsx
  src/modules/main/routes/index.tsx
  src/modules/main/routes/paths.ts
  src/modules/user/layouts/user/__tests__/user.layout.test.tsx
  src/modules/user/layouts/user/user.layout.tsx
  src/modules/user/routes/index.tsx
  src/modules/user/routes/paths.ts
  src/routes/index.tsx
  src/routes/not-found/not-found.route.tsx
Due: eslint, prettier

feat: fix wrong route path
  package.json
  src/app.tsx
  src/modules/user/routes/paths.ts
  src/routes/index.tsx
Due: eslint, prettier

chore: performance improvements with new router
  src/locales/index.ts
  src/locales/messages/en-US.json
  src/routes/index.tsx
Due: eslint, prettier

chore: updated hooks
  src/hooks/observer.hook.ts
  src/hooks/promise.hook.ts
  src/hooks/worker.hook.ts
Due: eslint, prettier

chore: update to nextjs 12
  .ncurc.json
  .prettierrc
  .stylelintrc
  babel.config.js
  jest.config.js
  lefthook.yml
  next-env.d.ts
  package.json
  src/modules/user/api/user.api.ts
  src/pages/_app.tsx
  src/styles/_functions.scss
  src/styles/_mixins.scss
  src/styles/_variables.scss
  src/styles/all.scss
  src/utils/http.util.ts
  src/utils/logger.util.ts
  tsconfig.json
Due: eslint, stylelint, prettier

chore: update to nextjs 12
  tsconfig.json
Due: prettier

chore: update locale util
  .env
  .stylelintrc
  package.json
  src/locales/index.ts
  src/utils/storage.util.ts
Due: eslint, prettier

chore: minor changes
  .env
  src/utils/storage.util.ts
Due: eslint, prettier

chore: merge with recoil branch
  .env
  .prettierrc
  .stylelintrc
  package.json
  src/app.tsx
  src/components/components/i18n/i18n-provider.tsx
  src/components/components/i18n/i18n-router.tsx
  src/components/components/i18n/i18n-switch.tsx
  src/components/components/i18n/i18n.ts
  src/hooks/http.hook.ts
  src/hooks/observer.hook.ts
  src/hooks/promise.hook.ts
  src/hooks/worker.hook.ts
  src/layouts/default/__tests__/default.layout.test.tsx
  src/layouts/default/default.layout.tsx
  src/locales/index.ts
  src/locales/messages/en-US.json
  src/modules/main/routes/about/about.route.tsx
  src/modules/main/routes/home/__tests__/home.route.test.tsx
  src/modules/main/routes/home/home.route.tsx
  src/modules/main/routes/index.tsx
  src/modules/main/routes/paths.ts
  src/modules/user/layouts/user/__tests__/user.layout.test.tsx
  src/modules/user/layouts/user/user.layout.tsx
  src/modules/user/models/user/user.model.ts
  src/modules/user/routes/index.tsx
  src/modules/user/routes/paths.ts
  src/modules/user/routes/sign-in/__tests__/__snapshots__/sign-in.route.test.tsx.snap
  src/modules/user/stores/user/actions.ts
  src/routes/index.tsx
  src/routes/not-found/not-found.route.tsx
  src/stores/index.tsx
  src/styles/_functions.scss
  src/styles/_mixins.scss
  src/styles/_variables.scss
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/storage.util.ts
Due: eslint, stylelint, prettier

chore: update store schema
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/stores/modules/notification.store.ts
Due: eslint, prettier

chore: update notification component
  src/app.tsx
  src/components/components/notification/notification.tsx
  src/components/components/notifications/notifications.tsx
  src/models/notification/notification.interface.ts
  src/models/notification/notification.type.ts
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/stores/modules/index.ts
  src/stores/modules/notification.store.ts
  src/stores/modules/notifications.store.ts
  src/utils/security.util.ts
Due: eslint, prettier

chore: update user store
  src/modules/user/stores/index.ts
  src/modules/user/stores/user.store.ts
Due: eslint, prettier

chore: update package.json
  .ncurc.json
  package.json
Due: prettier

chore: update store schema
  .gitignore
  .ncurc.json
  package.json
  src/app.tsx
  src/components/components/notification/notification.tsx
  src/components/components/notifications/notifications.tsx
  src/hooks/http.hook.ts
  src/layouts/default/__tests__/__snapshots__/default.layout.test.tsx.snap
  src/layouts/default/__tests__/default.layout.test.tsx
  src/modules/user/api/user.api.ts
  src/modules/user/layouts/user/__tests__/__snapshots__/user.layout.test.tsx.snap
  src/modules/user/layouts/user/__tests__/user.layout.test.tsx
  src/modules/user/routes/sign-in/__tests__/__snapshots__/sign-in.route.test.tsx.snap
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/routes/__tests__/__snapshots__/routes.test.tsx.snap
  src/stores/notification.store.ts
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/security.util.ts
Due: eslint, prettier
