Repository helmuthdu/react-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint --fix {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

chore: fix linter errors
  src/app.tsx
  src/components/components/notifications/notifications.tsx
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/routes/__tests__/routes.test.tsx
  src/stores/user.store.ts
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: fix linter errors
  biome.json
  src/modules/user/permissions/permissions.ts
  src/utils/permissions.util.ts
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier

feat: new util store
  src/utils/store.util.ts
Due: eslint, prettier

feat: support cache and timeout in http util
  src/utils/http.util.ts
Due: eslint, prettier

chore: update notification store
  src/stores/notification.store.ts
Due: eslint, prettier

feat: global store importer
  src/stores/index.ts
Due: eslint, prettier

chore: update dependencies
  package.json
Due: prettier

chore: code cleanup
  src/components/components/notifications/notifications.tsx
  src/modules/home/assets/images/logo.svg
  src/modules/home/components/home/home.css
  src/modules/home/components/home/home.tsx
  src/modules/home/index.ts
  src/modules/home/routes/about/__tests__/__snapshots__/about.route.test.tsx.snap
  src/modules/home/routes/about/__tests__/about.route.test.tsx
  src/modules/home/routes/about/about.route.tsx
  src/modules/home/routes/home/__tests__/__snapshots__/home.route.test.tsx.snap
  src/modules/home/routes/home/__tests__/home.route.test.tsx
  src/modules/home/routes/home/home.route.tsx
  src/modules/home/routes/index.tsx
  src/modules/home/routes/paths.ts
  src/modules/index.ts
  src/modules/main/index.ts
  src/modules/paths.ts
  src/modules/user/components/sign-in/sign-in.tsx
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/index.ts
  src/modules/user/stores/user.store.ts
  src/routes/index.tsx
  src/stores/user.store.ts
Due: eslint, stylelint, prettier

chore: update utils
  package.json
  src/api/user.api.ts
  src/models/user/user.type.ts
  src/utils/colors.util.ts
  src/utils/http.util.ts
  src/utils/permissions.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: update dependencies
  .npmrc
  package.json
Due: prettier

chore: added nvmrc config file
  .nvmrc
  bit.json
Due: prettier

chore: refactor and reorganize components and routes
  index.ts
  src/app.tsx
  src/components/app-error/app-error.tsx
  src/components/app-i18n/app-i18n.tsx
  src/components/app-notifications/app-notifications.tsx
  src/components/app-router/__tests__/__snapshots__/routes.test.tsx.snap
  src/components/app-router/__tests__/routes.test.tsx
  src/components/app-router/app-router.tsx
  src/components/app-routes/app-routes.tsx
  src/components/app-test/app-test.tsx
  src/models/user/user.model.ts
  src/routes/index.ts
  src/routes/index.tsx
  src/routes/not-found/__tests__/__snapshots__/not-found.route.test.tsx.snap
  src/routes/not-found/__tests__/not-found.route.test.tsx
  src/routes/not-found/not-found.route.tsx
  src/utils/permissions.util.ts
Due: eslint, prettier

chore: update sass and vite dependencies
  package.json
  src/modules/home/routes/home/home.route.tsx
Due: eslint, prettier

chore: enhance routing with locale support and clean up locale handling
  src/components/app-routes/app-routes.tsx
  src/locales/index.ts
  src/routes/index.ts
Due: eslint, prettier

chore: fix store integration
  src/stores/index.ts
  src/stores/notification.store.ts
Due: eslint, prettier

chore: code improvements for all utils
  src/modules/user/stores/index.ts
  src/modules/user/stores/user.store.ts
  src/utils/broadcaster.util.ts
  src/utils/colors.util.ts
  src/utils/dom.util.ts
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/permissions.util.ts
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: refactor http utility to use instance cache
  src/utils/http.util.ts
Due: eslint, prettier

chore: coe cleanup
  src/stores/notification.store.ts
  src/utils/store.util.ts
Due: eslint, prettier

feat: add error handling component with styled fallback UI
  src/components/app-error/app-error.scss
  src/components/app-error/app-error.tsx
Due: eslint, stylelint, prettier

feat: implement useList hook for advanced data handling with filtering, sorting, and pagination
  src/hooks/list.hook.ts
Due: eslint, prettier

fix: update hook implementations for consistent subscription handling and storage utility usage
  src/hooks/observer.hook.ts
  src/hooks/promise.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
Due: eslint, prettier

feat: enhance global styles with improved variable definitions and reset rules
  src/styles/preflight.scss
  src/styles/theme.scss
Due: stylelint

feat: upgrade biomejs to version 2 and update code style
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  package.json
  src/api/user.api.ts
  src/app.tsx
  src/components/app-i18n/app-i18n.tsx
  src/components/app-notifications/app-notifications.tsx
  src/components/app-router/__tests__/__snapshots__/routes.test.tsx.snap
  src/components/app-router/__tests__/routes.test.tsx
  src/components/app-router/app-router.tsx
  src/components/app-routes/app-routes.tsx
  src/components/app-test/app-test.tsx
  src/layouts/default/default.layout.tsx
  src/locales/index.ts
  src/models/user/index.ts
  src/modules/home/components/home/home.tsx
  src/modules/home/routes/home/__tests__/__snapshots__/home.route.test.tsx.snap
  src/modules/home/routes/home/__tests__/home.route.test.tsx
  src/modules/home/routes/home/home.route.tsx
  src/modules/home/routes/index.tsx
  src/modules/user/routes/index.tsx
  src/modules/user/routes/sign-in/__tests__/__snapshots__/sign-in.route.test.tsx.snap
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.tsx
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/routes/index.ts
  src/stores/index.ts
  src/stores/notification.store.ts
  tsconfig.app.json
  vitest.config.ts
  wallaby.config.js
Due: eslint, prettier

feat: new depot util
  biome.json
  package.json
  src/utils/__benchmark__/depot.ts
  src/utils/__tests__/depot.util.test.ts
  src/utils/array/__tests__/max.test.ts
  src/utils/array/__tests__/min.test.ts
  src/utils/array/__tests__/search.test.ts
  src/utils/array/group.ts
  src/utils/array/max.ts
  src/utils/array/min.ts
  src/utils/depot.util.ts
  src/utils/function/__tests__/attempt.test.ts
  src/utils/function/attempt.ts
  src/utils/index.ts
  src/utils/math/__tests__/average.test.ts
  src/utils/math/__tests__/boil.test.ts
  src/utils/math/__tests__/max.test.ts
  src/utils/math/__tests__/median.test.ts
  src/utils/math/__tests__/min.test.ts
  src/utils/math/average.ts
  src/utils/math/boil.ts
  src/utils/math/max.ts
  src/utils/math/median.ts
  src/utils/math/min.ts
  src/utils/math/sum.ts
  src/utils/object/seek.ts
  src/utils/string/__tests__/similarity.test.ts
  src/utils/string/similarity.ts
  vitest.setup.ts
Due: eslint, prettier

chore: update utils
  biome.json
  package.json
  src/components/app-error/app-error.tsx
  src/hooks/promise.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/locales/index.ts
  src/modules/home/components/home/home.tsx
  src/modules/home/routes/home/home.route.tsx
  src/utils/__benchmark__/depot.ts
  src/utils/__tests__/depot.util.test.ts
  src/utils/__tests__/permissions.util.test.ts
  src/utils/broadcaster.util.ts
  src/utils/date/__tests__/timeLapse.test.ts
  src/utils/date/timeDiff.ts
  src/utils/date/timeLapse.ts
  src/utils/deposit.util.ts
  src/utils/function/__tests__/assert.test.ts
  src/utils/function/__tests__/attempt.test.ts
  src/utils/function/__tests__/broadcaster.test.ts
  src/utils/function/__tests__/retry.test.ts
  src/utils/function/assert.ts
  src/utils/function/attempt.ts
  src/utils/function/retry.ts
  src/utils/http.util.ts
  src/utils/index.ts
  src/utils/logit.util.ts
  src/utils/math/__tests__/average.test.ts
  src/utils/math/__tests__/boil.test.ts
  src/utils/math/sum.ts
  src/utils/object/__tests__/clone.test.ts
  src/utils/object/__tests__/diff.test.ts
  src/utils/object/__tests__/parseJSON.test.ts
  src/utils/object/merge.ts
  src/utils/object/parseJSON.ts
  src/utils/permissions.util.ts
  src/utils/storage.util.ts
  src/utils/store.util.ts
  src/utils/typed/__tests__/isOdd.test.ts
  src/utils/typed/__tests__/isRegex.test.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{js,jsx,ts,tsx,css,json,yml}
