Repository helmuthdu/react-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,json,yml}'
      run: npx prettier --write {staged_files}

chore: update utils
  src/utils/broadcaster.util.ts
  src/utils/dom.util.ts
  src/utils/event.util.ts
  src/utils/http.util.ts
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: update utils
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: update dependencies
  package.json
Due: prettier

chore: update toolbox util
  src/utils/toolbox.util.ts
Due: eslint, prettier

fix: typo in dom util
  src/utils/dom.util.ts
Due: eslint, prettier

chore: new broadcaster util
  src/utils/broadcaster.util.ts
  src/utils/event.util.ts
Due: eslint, prettier

chore: update http util
  src/utils/http.util.ts
Due: eslint, prettier

chore: update dependencies
  .stylelintrc
  package.json
  src/styles/_functions.scss
Due: stylelint, prettier

fix: broken snapshot
  package.json
  src/modules/main/pages/home/__tests__/__snapshots__/home.route.test.tsx.snap
Due: prettier

chore: removed cypress scripts
  package.json
Due: prettier

chore: update dependencies
  .stylelintrc
  package.json
  postcss.config.js
  src/modules/main/routes/about/__tests__/__snapshots__/about.route.test.tsx.snap
  src/modules/main/routes/home/__tests__/__snapshots__/home.route.test.tsx.snap
  src/modules/user/routes/sign-in/__tests__/__snapshots__/sign-in.route.test.tsx.snap
  src/routes/__tests__/__snapshots__/routes.test.tsx.snap
  src/routes/not-found/__tests__/__snapshots__/not-found.route.test.tsx.snap
Due: eslint, prettier

chore: update styles
  src/styles/_functions.scss
  src/styles/_minireset.scss
  src/styles/_mixins.scss
  src/styles/_variables.scss
  src/styles/common.scss
  src/styles/functions.scss
  src/styles/mixins.scss
  src/styles/preflight.scss
  src/styles/styles.scss
  src/styles/theme.scss
Due: stylelint

chore: improve notification component
  package.json
  src/components/components/notifications/notifications.tsx
  src/stores/notification.store.ts
Due: eslint, prettier

chore: update styles
  src/styles/mixins.scss
  src/styles/preflight.scss
  src/styles/theme.scss
Due: stylelint

chore: update utils
  src/types.d.ts
  src/utils/broadcaster.util.ts
  src/utils/dom.util.ts
  src/utils/logger.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: update utils
  src/env.d.ts
  src/utils/broadcaster.util.ts
  src/utils/dom.util.ts
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: update dependencies
  package.json
  tsconfig.json
  tsconfig.node.json
Due: prettier

fix: linter issues
  .eslintrc
  .eslintrc.js
  src/app.tsx
  src/components/components/notifications/notifications.tsx
  src/components/utils/app-test/app-test.tsx
  src/components/utils/error-boundary/error-boundary.tsx
  src/effects/local-storage.effect.ts
  src/hooks/observer.hook.ts
  src/hooks/promise.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/layouts/default/__tests__/default.layout.test.tsx
  src/layouts/default/default.layout.css
  src/layouts/default/default.layout.tsx
  src/locales/index.ts
  src/main.tsx
  src/modules/main/components/home/home.css
  src/modules/main/components/home/home.tsx
  src/modules/main/routes/about/__tests__/about.route.test.tsx
  src/modules/main/routes/about/about.route.tsx
  src/modules/main/routes/home/__tests__/home.route.test.tsx
  src/modules/main/routes/home/home.route.tsx
  src/modules/main/routes/index.tsx
  src/modules/user/components/sign-in/sign-in.tsx
  src/modules/user/layouts/user/__tests__/user.layout.test.tsx
  src/modules/user/layouts/user/user.layout.css
  src/modules/user/layouts/user/user.layout.tsx
  src/modules/user/routes/index.tsx
  src/modules/user/routes/paths.ts
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.tsx
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/routes/__tests__/routes.test.tsx
  src/routes/index.tsx
  src/routes/not-found/__tests__/not-found.route.test.tsx
  src/routes/not-found/not-found.route.tsx
  src/stores/notification.store.ts
Due: eslint, stylelint, prettier

chore: update eslintrc
  .eslintrc
Due: none

chore: sync with vite project
  .eslintrc
  .eslintrc.js
  .stylelintrc
  package.json
  src/components/components/notifications/notifications.tsx
  src/components/utils/error-boundary/error-boundary.tsx
  src/hooks/observer.hook.ts
  src/hooks/promise.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/index.tsx
  src/layouts/default/__tests__/default.layout.test.tsx
  src/layouts/default/default.layout.scss
  src/layouts/default/default.layout.tsx
  src/locales/index.ts
  src/modules/main/routes/about/__tests__/about.route.test.tsx
  src/modules/main/routes/home/__tests__/home.route.test.tsx
  src/modules/main/routes/home/home.route.tsx
  src/modules/main/routes/index.tsx
  src/modules/user/layouts/user/__tests__/user.layout.test.tsx
  src/modules/user/layouts/user/user.layout.tsx
  src/modules/user/routes/index.tsx
  src/modules/user/routes/paths.ts
  src/modules/user/routes/sign-in/__tests__/sign-in.route.test.tsx
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/react-app-env.d.ts
  src/routes/__tests__/routes.test.tsx
  src/routes/index.tsx
  src/routes/not-found/__tests__/not-found.route.test.tsx
  src/serviceWorkerRegistration.ts
  src/stores/modules/notifications.store.ts
  src/utils/broadcaster.util.ts
  src/utils/dom.util.ts
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
Due: eslint, stylelint, prettier

chore: update dependencies
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint, prettier

chore: replace jest by vitest
  jest.config.js
  jest.setup.js
  lefthook.yml
  package-lock.json
  package.json
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier

chore: minor changes
  .eslintrc
  .quokka
  .stylelintrc
  .vscode/launch.json
  lefthook.yml
  package.json
  src/hooks/promise.hook.ts
  src/hooks/worker.hook.ts
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/index.ts
  src/modules/user/entities/user/user.model.ts
  vitest.setup.ts
  wallaby.config.js
Due: eslint, prettier

chore: update vscode configs
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: prettier

chore: update styles
  src/styles/preflight.scss
Due: stylelint

chore: fix styles issues
  src/layouts/default/default.layout.css
  src/modules/main/components/home/home.css
  src/modules/user/layouts/user/user.layout.css
Due: stylelint, prettier

chore: minor change
  src/utils/broadcaster.util.ts
Due: eslint, prettier

chore: minor change
  src/main.tsx
Due: eslint, prettier

chore: update dependencies
  .eslintrc
  .stylelintrc
  package.json
  tsconfig.json
Due: prettier

chore: update dependencies
  package.json
  src/stores/modules/notifications.store.ts
Due: eslint, prettier

chore: update utils
  src/utils/logger.util.ts
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
Due: eslint, prettier

chore: minor change
  src/hooks/worker.hook.ts
Due: eslint, prettier

chore: update dependencies
  .stylelintrc
  biome.json
  lefthook.yml
  package.json
  stylelint.config.js
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier

chore: code cleanup
  src/api/index.ts
  src/api/user.api.ts
  src/app.tsx
  src/components/components/notifications/notifications.tsx
  src/components/utils/app-test/app-test.tsx
  src/effects/index.ts
  src/effects/local-storage.effect.ts
  src/effects/logger.effect.ts
  src/hooks/http.hook.ts
  src/hooks/promise.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/layouts/default/default.layout.css
  src/locales/index.ts
  src/models/notification/notification.type.ts
  src/models/user/index.ts
  src/models/user/user.model.ts
  src/models/user/user.type.ts
  src/modules/main/components/home/home.tsx
  src/modules/main/routes/home/home.route.tsx
  src/modules/main/routes/index.tsx
  src/modules/user/components/sign-in/sign-in.tsx
  src/modules/user/layouts/user/user.layout.css
  src/modules/user/models/user/index.ts
  src/modules/user/routes/index.tsx
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/routes/__tests__/routes.test.tsx
  src/stores/notification.store.ts
  src/stores/user.store.ts
  src/styles/styles.scss
  src/utils/broadcaster.util.ts
  src/utils/dom.util.ts
  src/utils/env.util.ts
  src/utils/index.ts
  src/utils/logger.util.ts
  src/utils/storage.util.ts
  src/utils/toolbox.util.ts
  vitest.config.ts
Due: eslint, stylelint, prettier
