Repository helmuthdu/react-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,json,yml}'
      run: npx prettier --write {staged_files}

chore: minor changes
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
Due: eslint, prettier

chore: update package.json
  package.json
Due: prettier

chore: minor changes
  src/modules/user/stores/user.store.ts
Due: eslint, prettier

chore: merge with recoil branch
  .eslintrc.js
  src/components/components/notifications/notifications.tsx
  src/effects/index.ts
  src/effects/local-storage.effect.ts
  src/effects/logger.effect.ts
  src/hooks/http.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/models/notification/notification.type.ts
  src/modules/user/api/user.api.ts
  src/modules/user/models/user/user.model.ts
  src/modules/user/pages/sign-in/__tests__/__snapshots__/sign-in.page.test.tsx.snap
  src/modules/user/pages/sign-in/sign-in.page.tsx
  src/modules/user/stores/user.store.ts
  src/pages/_app.tsx
  src/stores/notification.store.ts
  src/styles/_variables.scss
  src/styles/all.scss
  src/styles/common.scss
  src/utils/http.util.ts
  src/utils/logger.util.ts
  src/utils/security.util.ts
  src/utils/storage.util.ts
  tsconfig.json
Due: eslint, stylelint, prettier

chore: update linter rules
  .eslintrc.js
  src/components/components/notifications/notifications.tsx
  src/components/utils/error-boundary/error-boundary.tsx
  src/hooks/observer.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/modules/main/routes/home/home.route.tsx
  src/modules/user/api/user.api.ts
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/styles/_functions.scss
  src/styles/_mixins.scss
  src/styles/_variables.scss
  src/styles/common.scss
Due: eslint, stylelint, prettier

chore: improved store usage
  .eslintrc.js
  package.json
  src/components/components/notifications/notifications.tsx
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/stores/notification.store.ts
Due: eslint, prettier

chore: improved store usage
  src/components/components/notifications/notifications.tsx
  src/modules/user/pages/sign-in/sign-in.page.tsx
  src/modules/user/stores/user.store.ts
  src/stores/notification.store.ts
Due: eslint, prettier

chore: update linter rules
  .eslintrc.js
  package.json
  src/components/components/notifications/notifications.tsx
  src/components/utils/error-boundary/error-boundary.tsx
  src/hooks/observer.hook.ts
  src/hooks/storage.hook.ts
  src/hooks/worker.hook.ts
  src/modules/main/routes/home/home.route.tsx
  src/modules/user/api/user.api.ts
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/stores/modules/notifications.store.ts
Due: eslint, prettier

chore: minor changes
  src/models/notification/notification.type.ts
  src/stores/modules/notifications.store.ts
Due: eslint, prettier

chore: initial snowpack integration
  .babelrc
  .ncurc.json
  jest.config.js
  jest.setup.js
  package.json
  public/index.html
  snowpack.config.mjs
  src/index.tsx
  src/locales/index.ts
  src/modules/main/routes/home/__tests__/home.route.test.tsx
  src/modules/user/api/user.api.ts
  src/modules/user/models/user.model.ts
  src/modules/user/models/user/index.ts
  src/modules/user/stores/user.store.ts
  src/modules/user/types/user.type.ts
  src/reportWebVitals.ts
  src/serviceWorkerRegistration.ts
  src/setupTests.ts
  src/stores/notification.store.ts
  src/styles/common.scss
  src/types.d.ts
  src/types/notification/notification.type.ts
  src/utils/logger.util.ts
  src/utils/storage.util.ts
  tsconfig.json
  wallaby.config.js
Due: eslint, stylelint, prettier

chore: general fixes
  .env
  jest.config.js
  package.json
  snowpack.config.mjs
  src/index.tsx
  src/locales/index.ts
  src/modules/user/api/user.api.ts
  src/styles/_minireset.scss
  src/utils/storage.util.ts
  wallaby.config.js
Due: eslint, stylelint, prettier

chore: minor changes
  package.json
  src/entities/notification/notification.type.ts
  src/index.tsx
  src/locales/index.ts
  src/modules/main/routes/home/__tests__/home.route.test.tsx
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/index.ts
  src/modules/user/entities/user/user.model.ts
  src/modules/user/entities/user/user.type.ts
  src/modules/user/models/user/index.ts
  src/modules/user/stores/user.store.ts
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/serviceWorkerRegistration.ts
  src/stores/notification.store.ts
  src/styles/_minireset.scss
  src/styles/common.scss
Due: eslint, stylelint, prettier

chore: minor changes
  package.json
  src/entities/notification/notification.type.ts
  src/hooks/worker.hook.ts
  src/index.tsx
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/index.ts
  src/modules/user/entities/user/user.model.ts
  src/modules/user/entities/user/user.type.ts
  src/modules/user/models/user/index.ts
  src/modules/user/stores/user.store.ts
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/serviceWorkerRegistration.ts
  src/stores/modules/notifications.store.ts
  src/styles/_minireset.scss
  src/styles/common.scss
Due: eslint, stylelint, prettier

fix: broken test
  src/modules/main/routes/home/__tests__/home.route.test.tsx
Due: eslint, prettier

fix: broken build
  src/entities/notification/notification.type.ts
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/user.model.ts
  src/modules/user/entities/user/user.type.ts
  src/modules/user/stores/user.store.ts
  src/stores/notification.store.ts
Due: eslint, prettier

chore: minor changes
  src/entities/notification/notification.type.ts
  src/models/notification/notification.type.ts
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/index.ts
  src/modules/user/entities/user/user.interface.ts
  src/modules/user/entities/user/user.model.ts
  src/modules/user/stores/user.store.ts
  src/stores/notification.store.ts
Due: eslint, prettier

chore: update eslint rules
  .eslintrc.js
  package.json
Due: eslint, prettier

chore: update package.json
  .stylelintrc
  package.json
Due: prettier

chore: minor changes
  src/entities/notification/notification.type.ts
  src/modules/user/entities/user/user.type.ts
Due: eslint, prettier

chore: update package.json
  .vscode/settings.json
  package.json
Due: prettier

chore: update package.json
  .ncurc.json
  package.json
Due: prettier

chore: minor changes
  .gitignore
  package.json
  public/index.html
  public/locales/en-US.json
  src/components/components/notifications/notifications.tsx
  src/locales/index.ts
  src/modules/user/api/user.api.ts
  src/modules/user/entities/user/user.type.ts
  src/modules/user/routes/sign-in/sign-in.route.tsx
  src/modules/user/stores/user.store.ts
  src/stores/index.tsx
  src/utils/logger.util.ts
Due: eslint, prettier

chore: removed moize dependency
  package.json
  src/modules/user/stores/user.store.ts
Due: eslint, prettier

feat: update to react 18
  package.json
  src/index.tsx
  src/stores/modules/notifications.store.ts
Due: eslint, prettier

feat: update to react 18
  package.json
  src/index.tsx
Due: eslint, prettier

chore: removed storybook
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  package.json
  src/routes/index.tsx
Due: eslint, prettier

chore: removed storybook
  .ncurc.json
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  next-env.d.ts
  package.json
Due: eslint, prettier

chore: update packages
  package.json
Due: prettier

feat: vite migration
  .env
  .eslintrc.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .stylelintrc
  babel.config.js
  index.html
  jest.config.js
  jest.setup.js
  package.json
  public/index.html
  snowpack.config.mjs
  src/index.tsx
  src/locales/index.ts
  src/main.tsx
  src/modules/main/routes/home/__tests__/__snapshots__/home.route.test.tsx.snap
  src/modules/user/api/user.api.ts
  src/routes/index.tsx
  src/types.d.ts
  src/utils/storage.util.ts
  tests/unit/example.spec.tsx
  tsconfig.json
  vite.config.ts
  wallaby.config.js
Due: eslint, prettier

chore: update packages
  .stylelintrc
  package.json
Due: prettier
